
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASD Analyzer</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">

        <h1>ASD Prediction</h1>

        <form action="/predict" method="POST" class="prediction-form">
            <div class="form-group">
                <label for="A1_Score">ASD Score 1:</label>
                <input type='text' name='A1_Score'>
            </div>

            <div class="form-group">
                <label for="A2_Score">ASD Score 2:</label>
                <input type='text' name='A2_Score'>
            </div>

            <div class="form-group">
                <label for="A3_Score">ASD Score 3:</label>
                <input type='text' name='A3_Score'>
            </div>

            <div class="form-group">
                <label for="A4_Score">ASD Score 4:</label>
                <input type='text' name='A4_Score'>
            </div>

            <div class="form-group">
                <label for="A5_Score">ASD Score 5:</label>
                <input type='text' name='A5_Score'>
            </div>

            <div class="form-group">
                <label for="A6_Score">ASD Score 6:</label>
                <input type='text' name='A6_Score'>
            </div>

            <div class="form-group">
                <label for="A7_Score">ASD Score 7:</label>
                <input type='text' name='A7_Score'>
            </div>

            <div class="form-group">
                <label for="A8_Score">ASD Score 8:</label>
                <input type='text' name='A8_Score'>
            </div>

            <div class="form-group">
                <label for="A9_Score">ASD Score 9:</label>
                <input type='text' name='A9_Score'>
            </div>

            <div class="form-group">
                <label for="A10_Score">ASD Score 10:</label>
                <input type='text' name='A10_Score'>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input type='text' name='age'>
            </div>

            <div class="form-group">
                <label for="gender">Gender:</label>
                <input type='text' name='gender'>
            </div>

            <div class="form-group">
                <label for="ethnicity">Ethnicity:</label>
                <input type='text' name='ethnicity'>
            </div>

            <div class="form-group">
                <label for="jaundice">Jaundice:</label>
                <input type='text' name='jaundice'>
            </div>

            <div class="form-group">
                <label for="austim">Austim:</label>
                <input type='text' name='austim'>
            </div>

            <div class="form-group">
                <label for="contry_of_res">Country of Residence:</label>
                <input type='text' name='contry_of_res'>
            </div>

            <div class="form-group">
                <label for="used_app_before">Used App Before:</label>
                <input type='text' name='used_app_before'>
            </div>

            <div class="form-group">
                <label for="result">Result:</label>
                <input type='text' name='result'>

            </div>

            <div class="form-group">
                <label for="age_desc">Age Desc:</label>
                <input type='text' name='age_desc'>
            </div>

            <div class="form-group">
                <label for="relation">Relation:</label>
                <input type='text' name='relation'>
            </div>

            <button type="submit">Predict</button>
        </form>

        {% if result %}
        <div class="result-container">
            <p class="result-message">Result:</p>
            <p class="result">{{ result }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>

